/* semantic color variables for this project */
:root {
  --color-white: white;
  --color-background: #f1dcc7;
  --color-ligt-brown:#a26c50;
  --color-main-brown: #4B2F21;
  --color-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.875rem;
  color: var(--color-text);
  min-height: 100vh;
  background: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
