@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

/* header styles */
.header__nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--color-white);
}
.nav-menu {
    display: flex;
    list-style-type: none;
}
.nav-menu-item {
    margin: 1.5rem;
    text-transform: uppercase;
}
a {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-main-brown);
    transition: 0.3s ease-in-out;
}
a:hover, 
a:active,
a:focus {
    color: var(--color-ligt-brown);
    border: none;
    outline: none;
}
/* footer style */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: #40281c;
    margin: 1.25rem;
}
.footer-anchor {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
/* home page */
.main-photo-wrap {
    position: relative;
    height: 45rem;
    width: 100%;
    background-image: url('./img/HomePage/main-photo.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--color-background);
}
.main-box-img {
    background-color: rgba(14, 13, 12, 0.364);
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.main-heading {
    margin-bottom: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    font-weight: 600;
    line-height: 3rem;
}
.sub {
    color: var(--color-background);
    font-style: italic;
}
.introduction-block {
    height: 35rem;
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: 1.4em;
    line-height: 3rem;
    text-align: center;
    margin: 2vw;
}
.introduction-header {
    margin: 5vw 0;
    font-weight: 700;
    text-align: center;
}
.introduction-text-wrap {
    text-align: center;
}
.city_wrapper {
    color: var(--color-white);
    background-color: #77442E;
    background: linear-gradient(180deg, #805743 0%,  #4B2F21 100%);
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.city-text-block,
.cafes-text-block {
    width: 50%;
    padding: 3.125rem;
}
.city-description {
    text-align: justify;
    margin: 2vw 0;
}
.photo-img-block {
    width: 50%;
    height: 100%;
}
.coffee-img{
    background-image: url('./img/HomePage/cities-link.jpg') ;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.button-wrapper {
    margin: 1.5rem 2rem;
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: 5px;
    transition: 0.2s ease-in-out;
    color: var(--color-background);
    border: 1px solid var(--color-background);
}
.button:hover {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid var(--color-background);
    color: var(--color-main-brown);
}
.dark-button {
    color: var(--color-main-brown);
    border: 1px solid var(--color-main-brown);
}

.dark-button:hover {
    background-color: rgba(75, 38, 14, 0.35);
    border: 1px solid var(--color-main-brown);
}

.cafes_wrapper {
    background-color: var(--color-background);
    background: linear-gradient(255deg,#efd6be 0%, white 100%);
    color: var(--color-main-brown);
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cafes-img {
    background-image: url('./img/HomePage/cafes-link.jpg') ;
    height: 100%;
    background-size: cover;
    background-position:  30% 70% ;
}


/*City Pages styles*/
.photo-city-wrap {
    position: relative;
    height: 40rem;
    width: 100%;   
    background-repeat: no-repeat;
    background-size: cover;
    
}
.photo-city-wrap.franyk {
    background-image: url('./img/Franyk/ivano-frankivsk.jpg'); 
    background-position: 70% 30%;
}
.photo-city-wrap.kyiv {
    background-image: url('./img/Kyiv/kyiv-main-photo.jpg');
    background-position: top;
}
.photo-city-wrap.lviv {
    background-image: url('./img/lviv/lviv-main-photo.jpg');
    background-position: 70% 30%;
}
.photo-city-wrap.cherkasy {
    background-image: url('./img/cherkasy/damba.jpeg');
    background-position: top;
}
.city__img-holder {
    background-color: rgba(0, 0, 0, 0.6);
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-background);
}
.city__header {
    font-size: 3em;
    font-weight: 700;
    margin: 3vw 0;
    text-align: center;
}
.city__text-wrap {
    max-width: 60rem;
    margin: 3vw ;
    text-align: center;
}
.desctiption-text-wrap {
    padding: 2rem 5rem;
    text-align: center;
    margin: 2rem;
}
.article-block-cafes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.article-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.75rem 2.25rem;
}
.article-wrapper:nth-child(4n-3) {
    background: #F4EDE6;
    background: linear-gradient(100deg, white 0%, #ddd1c5  100%);
}
.article-wrapper:nth-child(4n-2) {
    background: #77442E;
    background: linear-gradient(225deg, #805743 0%, #4B2F21 100%);
}
.article-wrapper:nth-child(4n-1) {
    background: #77442E;
    background: linear-gradient(180deg, #4B2F21 0%, #805743 100%);
}
.article-wrapper:nth-child(4n) {
    background: #F4EDE6;
    background: linear-gradient(180deg,#ddd1c5 0%, white 100%);
}

.img-holder {
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
}
.article__link-holder {
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 10%;
}
.rosteria {
    background-image: url('../assets/img/Franyk/rosteria/main-rosteria-cavy.jpg');
}
.fabrica {
    background-image: url('../assets/img/Franyk/fabrica/fabryka.jpg');
}
.delikacia {
    background-image: url('../assets/img/Franyk/Delikacia/delikacia.jpg');
}
.tradycia {
    background-image: url('../assets/img/Franyk/tradycia/main-tradycia.jpg');
}

.article-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 30rem;
    width: 100%;
    color: var(--color-background);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.article-text {
    color: var(--color-main-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-description {
    margin: 2rem 0;
    text-align: center;
    color: var(--color-white);
}
.article-wrapper:nth-child(4n) .article-description,
.article-wrapper:nth-child(4n-3) .article-description {
    color: var(--color-main-brown);
}
/* article buttons */
.article-wrapper:nth-child(4n-3) .button,
.article-wrapper:nth-child(4n) .button {
    color: var(--color-main-brown);
    border: 1px solid var(--color-main-brown);
}
.dark-button:hover,
.article-wrapper:nth-child(4n-3) .button:hover ,
.article-wrapper:nth-child(4n) .button:hover {
    background-color: rgba(75, 38, 14, 0.35);
    border: 1px solid var(--color-main-brown);
    color: var(--color-white);
}

.fabrykaRosteria {
    background-image: url('../assets/img/cherkasy/fabryka/fabrykaRosteria.jpg');
}
.endorfin {
    background-image: url('./img/cherkasy/endorfin/pexels-maria-bortolotto-6382929.jpg');
}
.shocolad {
    background-image: url('./img/cherkasy/shocoladu/lvivska-shocoladu.jfif');
}
.zavertaylo {
    background-image: url('./img/Kyiv/zavertailo/cup-coffee4.jpg');
    background-position: 60% 40%;
}
.yaroslava {
background-image: url('./img/Kyiv/yaroslava/beans4.jpg');
}
.kavaNAdvoh {
    background-image: url('./img/Kyiv/kava-na-dvoh/coffee-mashine5.jpg');
    background-position: 30% 70%;
}
.osmantus {
    background-image: url('./img/Kyiv/osmantus/work-place-coffee2.jpg');
}
.italist {
    background-image: url('./img/Kyiv/italist/cafe.jpg');
}
.halva {
    background-image: url(../assets/img/Kyiv/halva/cup-coffee3.jpg);
}
.idealist {
    background-image: url(../assets/img/Kyiv/pishohidnyi.jpg);
}
.foodMarket {
    background-image: url('./img/Kyiv/food-market/cup-coffee11.jpg');
    background-position: 30% 70%;
}